*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: cursive;
    background-repeat: no-repeat;
    background-image: url("brushes.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  
  /* -----navbar------ */
  nav{
    display:flex;
    height:80px;
    width:100%;
    background: rgb(151, 85, 85);
    align-items: center;
    justify-content:space-between;
    padding:0 50px 0 100px;
    flex-wrap: wrap;
  }
   /* -------logo------- */
  nav .logo{
    color:black;
    font-size:30px;
    font-weight:500;
    font-family: 'Dancing Script', cursive;
  }

  nav .logo span{
    color:black;
    font-size:large;
    
  }

  nav ul{
    display:flex;
    flex-wrap: wrap;
    list-style-type: none;
  }
  nav ul li{
    margin:0 5px;
  }
  nav ul li a{
    color:black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding:8px 15px;
    border-radius: 5px;
    letter-spacing:1px;
    border-bottom:1.5px solid transparent;
    transition:all 0.3s ease;
  }
  nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
    
   /* --------hover on navbar menu------- */
  nav ul li a.active,nav ul li a:hover{
    border-color:black;
   
  }